.grid-container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.row:before,
.row:after {
  content: " ";
  display: table;
  clear: both;
}

$numberOfColumns: 12;
$oneColWidth: 100% / $numberOfColumns;

[class*='col-']{
  float: left;
  min-height: 1px;
  width: $oneColWidth;
  // gutter
  // padding: 12px;
}

@mixin columns($width){
  width: $width * $oneColWidth;
}

.col-1{
  @include columns(1);
}

.col-2{
  @include columns(2);
}

.col-3{
  @include columns(3);
}

.col-4{
  @include columns(4);
}

.col-5{
  @include columns(5);
}

.col-6{
  @include columns(6);
}

.col-7{
  @include columns(7);
}

.col-8{
  @include columns(8);
}

.col-9{
  @include columns(9);
}

.col-10{
  @include columns(10);
}

.col-11{
  @include columns(11);
}

.col-12{
  @include columns(12);
}
